---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
// import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro'
---

<BaseLayout title="About | Ikenna Richard" description="About Ikenna Richard">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
			</Hero>

			<section>
				<div class="content stack gap-10">
					<p>
						My name is Ikenna Richard, and I'm a frontend software engineer and freelance web developer based in Lagos. I love music, technology, and all things related to the internet.

						<p>Presently, I'm dedicated to honing my skills and knowledge in front-end technologies. My commitment is evident through my ongoing learning endeavors and practical application of my newfound skills in real-world projects. With a solid foundation in business analysis, I bring a strong analytical mindset, attention to detail, and a data-driven approach to my work as a junior front-end developer..</p>
						
						<p>Whether you're a business owner seeking to embark on an app or web development project with a freelance web developer, a fellow developer looking for a collaboration, or simply wanting to connect, I'm open to discussions and excited about potential partnerships. Don't hesitate to drop me a message, and let's create something incredible together.</p>
					</p>

						<a href="https://docs.google.com/document/d/e/2PACX-1vQ-GHieh_lStNXgvCcWcMHwCf-E2dei8U-PI-N4_dbQMB_kZlmTnSIWVyfh2nWcnw3pA2LoZET9PRbI/pub?embedded=true" target="_blank">
							Get My Resume
							<Icon icon="paper-plane-tilt" size="1.2em" />
						</a>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 1 / 4;
		max-width: 700px;
		margin-inline: auto;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	a {
		border:: none;
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: var(--accent-text-over);
		text-decoration: none;
		line-height: 1.1;
		border: none;
		border-radius: 999rem;
		overflow: hidden;
		background: var(--accent-regular);
		white-space: nowrap;
		text-decoration: none !important;
	}

	a:hover {
		background-color: var(--accent-dark);
		box-shadow: var(--shadow-md);
		cursor: pointer;
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-lg);
		}
	}

	

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		a {
			padding: 1.125rem 2.5rem;
			font-size: var(--text-xl);
		}
	}
</style>
