---
interface Props {
	href: string;
	target: string;
}

const { href, target } = Astro.props;
---

<a href={href} target={target}><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: var(--accent-text-over);
		text-decoration: none;
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		background-color: var(--accent-regular);
		white-space: nowrap;
	}

	a:hover {
		background-color: var(--accent-dark);
		box-shadow: var(--shadow-md);
		cursor: pointer;
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-lg);
		}
	}

	@media (min-width: 50em) {
		a {
			padding: 1.125rem 2.5rem;
			font-size: var(--text-xl);
		}
	}
</style>
