---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" />
		<h2>Full-stack Developer</h2>
		<p>I'm passionate about web programming. I'm currently studying to become a full-stack developer, and I'm excited to share my work with you.</p>
	</div>
</section>

<style>
	.box {
	
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
	
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			width: 20em;
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
